{% extends 'base.html' %}


{% block content %}

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Digitize Your Material Tickets</h2>
                <p>Smart tickets allows you to make all physical ticket transactions inbound to your jobsite digital and keeps track of material quantities.</p>

            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Automated Invoice Reconciliation</h2>
                <p>Smart ticket's automated invoice reconciliation feature is currently in the works. This feature will allow you to eliminate errors and streamline your invoice payment process</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}