{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<h1>{{header}}  <a href="{% url 'job_create' %}" class="btn btn-light" role="button">+</a></h1>

    {% comment %} Pending addition of logic for user permissions {% endcomment %}
    {% for job in all_jobs %}
    <div class="card">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{job.img}}" alt="{{job.name}}">
            <div class="card-body">
            <h5 class="card-title">{{job.name}}</h5>
            <small>Shared by: <a href="/user/{{ job.user.username }}">{{ job.user.username }}</a></small>
            <br /><br />
            <p class="card-text">{{job.description}}</p>
            <a href="{% url 'job_detail' job.pk %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}